DATABASE_URL=
PORT=3000

GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# Must point to BACKEND callback, not frontend
GITHUB_REDIRECT_URI=http://localhost:3000/api/auth/github/callback

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

REDIS_URL=redis://localhost:6379
